<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>TAXI CUSTOMER</title>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
    <link rel="stylesheet" href="css/taxi.css">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="/esri-leaflet/esri-leaflet.js"></script> 
    <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script> 
    <script src="js/customer.js" defer></script>
  </head>
  <body>
    <div id="page">
      <div id="my-map"></div>


      <!-- Overlay for the search controls, populated in the javascript -->
      <section id="map-search-area">
	
      </section>

      
      <!-- Keep an overlay over the map, so that non-leaflet things can be used-->
      <div id="overlay">
	<button v-show="requestButton == true" v-on:click="orderTaxi" id="send-order">
	  Send order
	</button>

	<button v-show="currentState == 'ordering'" v-on:click="showingMore = !showingMore" id="show-more">
	  <h3>{{ showingMore ? 'Hide' : 'Show' }} additional options</h3>
	</button>

	<transition mode="out-in" name="fade">
	  <section v-show="showingMore && currentState == 'ordering'" id="additional">
	    <form id="additional-form">
	      <span>
		<label for="passengers">Number of passengers: </label>
		<input type="number" min="1" value="1" name="passengers">
	      </span>
	      <br>
	      <span>
		<label for="bags">Number of bags: </label>
		<input type="number" min="0" value="0" name="bags">
	      </span>
	      <br>
	      <span>
		<label for="wheelchair">Wheelchair required?</label>
		<input type="checkbox" name="wheelchair">
	      </span>
	      <br>
	      <span>
		<label for="childseat">Children's seat required?</label>
		<input type="checkbox"  name="childseat">
	      </span>
	    </form>
	  </section>
	</transition>
	
	<section v-show="currentState != 'ordering'" id="info">
	  <div v-show="currentState == 'assigning'">
	    <img class="loading-icon" src="img/loading.png"></img>
	    <p>Waiting for a driver to be dispatched...</p>
	  </div>

	  <div v-show="currentState == 'responding'">
	    <p>A driver has been assigned to you!</p>
	    <button v-on:click="respondToTripRequest(true)" class="accept-btn">Accept</button>
	    <button v-on:click="respondToTripRequest(false)" class="decline-btn">Decline</button>
	  </div>

	  <div v-show="currentState == 'waiting'">
	    <img class="loading-icon" src="img/loading.png"></img>
	    <p>A driver is on its way, please wait...</p>
	  </div>

	  <div v-show="currentState == 'arrived'">
	    <p>Your driver is here! Proceed to the car...</p>
	  </div>

	  <div v-show="currentState == 'travelling'">
	    <p>You're on your way! Sit back and relax.</p>
	  </div>

	  <div v-show="currentState == 'thanking'">
	    <p>Thank you for travelling with bnt\taxi!</p>
	  </div>
	</section>
      </div>
    </div>
  </body>
</html>
