<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAXI DISPATCHER</title>
    <link rel="stylesheet" href="leaflet/leaflet.css">
    <link rel="stylesheet" href="css/dispatcher.css">
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/leaflet/leaflet.js"></script>
    <script src="js/dispatcher.js" defer></script>
  </head>
  <body>
    <header>
      <h1><span class="bnt">bnt\</span><span class="header-taxi">taxi</span></h1>
      <h2>Dispatch</h2>
    </header>
    
    <main id="page">
      
      <!-- Section for the assignment of customers to cars -->
      <section id="assignment" class="left">

	<!-- Navigation bar for assignment menu -->
	<nav>
	  <ul>
	    <li
	      v-bind:class="{selected: currentAssignmentMenu == 'orders'}"
	      v-on:click="currentAssignmentMenu = 'orders'">
	      Orders
	    </li>
	    
	    <li v-bind:class="{selected: currentAssignmentMenu == 'taxis'}"
		v-on:click="currentAssignmentMenu = 'taxis'">
	      Taxis
	    </li>
	    
	    <li v-bind:class="{selected: currentAssignmentMenu == 'ongoing'}"
		v-on:click="currentAssignmentMenu = 'ongoing'">
	      Ongoing
	    </li>
	  </ul>
	</nav>
	

	<!-- List of pending orders -->
	
	<ul class="assignment-list" v-if="currentAssignmentMenu == 'orders'">
	  <div v-for="order in orders" v-if="!orderIsAssigned(order)">
	    <li class="assignment-list-item"
		v-on:click="selectedOrder = (selectedOrder != order) ? order : null"
		v-bind:class="{selected: selectedOrder == order || orderIsPending(order), unclickable: orderIsPending(order)}">
	      <div class="timer">
		<div v-show="!orderIsPending(order)">
		  <h2>{{minutesSince(order.timeJoined)}} min</h2>
		</div>
		<div v-show="orderIsPending(order)">
		  <div class="loader white"></div>
		  <h3>Assigned...</h3>
		</div>
	      </div>

	      <div class="description">
		<h2><span class="from">{{order.name}}</span>&nbsp;
		  <span class="to"><span v-for="n in Math.round(order.rating)" class="icon">★</span></span></h2>
		<h3>
		  <span class="from">
		    Going from
		    {{order.fromLatLong[0].toFixed(3)}},
		    {{order.fromLatLong[1].toFixed(3)}}
		  </span>
		  <span class="to">
		    Going to
		    {{order.destLatLong[0].toFixed(3)}},
		    {{order.destLatLong[1].toFixed(3)}}
		  </span>
		</h3>

		<ul>
		  <li v-for="(item, key) in order.orderItems">
		    {{ key + ": " + item }}
		  </li>
		</ul>
	      </div>
	    </li>
	    <ul v-if="order == selectedOrder && !orderIsPending(order)" class="assignment-selection">
	      <li v-for="taxi in taxis" v-if="!taxiIsPending(taxi) && !taxiIsAssigned(taxi)" v-on:click="assignTaxi(order, taxi)">
		<h3>{{taxi.name}}
		  <span style="width: 1em; display: inline-block;">&nbsp;</span>
		  <span v-for="n in Math.round(taxi.rating)" class="icon">★</span>
		</h3>
		<p>Current distance:
		  {{kilometerDistance(taxi.latLong[0],
		  taxi.latLong[1],
		  order.fromLatLong[0],
		  order.fromLatLong[1]).toFixed(2)}} km
		</p>
	      </li>
	    </ul>
	  </div>

	  
	  <li class="assignment-list-item" v-if="ordersLength() == 0">
	    <h2>There are no customers waiting</h2>
	  </li>
	</ul>


	<!-- List of available taxis -->
	
	<ul class="assignment-list" v-if="currentAssignmentMenu == 'taxis'">
	  <div v-for="taxi in taxis" v-if="!taxiIsAssigned(taxi)">
	    <li class="assignment-list-item"
		v-on:click="selectedTaxi = (selectedTaxi != taxi) ? taxi : null"
		v-bind:class="{selected: selectedTaxi == taxi || taxiIsPending(taxi), unclickable: taxiIsPending(taxi)}">
	      <div class="timer">
		<div v-show="!taxiIsPending(taxi)">
		  <h2>X min</h2>
		</div>
		<div v-show="taxiIsPending(taxi)">
		  <div class="loader white"></div>
		  <h3>Assigned...</h3>
		</div>
	      </div>

	      <div class="description">
		<h2><span class="from">{{taxi.name}} #{{taxi.taxiId}}</span>&nbsp;
		  <span class="to"><span v-for="n in Math.round(taxi.rating)" class="icon">★</span></span></h2>
		<h3>
		    Curent location 
		    {{taxi.latLong[0].toFixed(3)}},
		    {{taxi.latLong[1].toFixed(3)}}
		</h3>
	      </div>

	    </li>
	    
	    <ul v-if="taxi == selectedTaxi && !taxiIsPending(taxi)" class="assignment-selection">
	      <li v-for="order in orders" v-if="!orderIsPending(order) && !orderIsAssigned(order)" v-on:click="assignTaxi(order, taxi)">
		<h3>{{order.name}}
		  <span style="width: 1em; display: inline-block;">&nbsp;</span>
		  <span v-for="n in Math.round(order.rating)" class="icon">★</span>
		</h3>
		<p>Current distance:
		  {{kilometerDistance(taxi.latLong[0],
		  taxi.latLong[1],
		  order.fromLatLong[0],
		  order.fromLatLong[1]).toFixed(2)}} km
		</p>
	      </li>
	    </ul>
	  </div>

	  
	  <li class="assignment-list-item" v-if="taxisLength() == 0">
	    <h2>There are no taxis currently available</h2>
	  </li>
	</ul>


	<!-- List of ongoing trips -->
	
	<ul class="assignment-list" v-if="currentAssignmentMenu == 'ongoing'">
	  <div v-for="trip in trips">
	    <li class="assignment-list-item"
		v-on:click="selectedTrip = (selectedTrip != trip) ? trip : null"
		v-bind:class="{selected: selectedTrip == trip}">
	      <div class="description">
		<h2>Trip #{{trip.tripId}}</h2>
		<h3>
		  <span class="from">
		    Going from {{trip.order.fromLatLong[0].toFixed(3)}},
		    {{trip.order.fromLatLong[1].toFixed(3)}}
		  </span>&nbsp;
		  <span class="to">
		    Going to {{trip.order.destLatLong[0].toFixed(3)}},
		    {{trip.order.destLatLong[1].toFixed(3)}}
		  </span>
		</h3>
	      </div>
	    </li>
	    
	    <ul v-if="trip == selectedTrip" class="assignment-selection unclickable">
	      <li>
		<h3>Customer: {{trip.order.name}} #{{trip.order.orderId}}
		  <span class="to" v-if="!trip.customerAccept">Hasn't accepted yet</span>
		</h3>
		<h3>Driver: {{trip.taxi.name}} #{{trip.taxi.taxiId}}
		  <span class="to" v-if="!trip.driverAccept">Hasn't accepted yet</span>
		</h3>
		<p v-if="trip.customerAccept && trip.driverAccept">
		  The trip is ongoing with
		  {{kilometerDistance(taxis[trip.taxi.taxiId].latLong[0],
		  taxis[trip.taxi.taxiId].latLong[1],
		  trip.order.fromLatLong[0],
		  trip.order.fromLatLong[1]).toFixed(2)}} 
		  km left to drive
		</p>
	      </li>
	    </ul>
	  </div>
	  
	  <li class="assignment-list-item" v-if="Object.keys(trips).length == 0">
	    <div class="description">
	      <h2>There are no currently ongoing trips</h2>
	    </div>
	  </li>
	</ul>
      </section>


      <!-- Section for map with information -->
      <section id="maps">
	<div id="my-map"></div>
      </section>
    </main>
  </body>
</html>
