<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TAXI DRIVER</title>
  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
  <link rel="stylesheet" href="css/taxi.css">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
  <script src="js/utils.js"></script>
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script src="js/driver.js" defer></script>
  <!--<script src="js/customer.js" defer></script>-->
</head>
<body>
  <div id="page">
  	
    <div id="my-map"></div>

    <section id="driver-info">

      <div id="status-box" v-show="currentState=='assigning' || currentState=='responding' || currentState=='responded' || currentState=='cancelled'">
	<div v-show="currentState=='assigning'">
          <h1 align="center">
            TAXI DRIVER # {{ taxi.taxiId }} {{ taxi.name }}
          </h1>

          <div class="loader"></div>
          <div><h3>Waiting for customer...</h3></div>
	</div>

	<div v-if="currentState=='responding'">
	  <h3>You've been assigned {{assignedTrip.order.name}} with a rating of {{assignedTrip.order.rating}}</h3>
	  <button v-on:click="respondToTripRequest(true)" class="accept-btn">Accept</button>
	  <button v-on:click="respondToTripRequest(false)" class="decline-btn">Decline</button>
	</div>

	<div v-if="currentState=='responded'">
	  <h3>Waiting for {{assignedTrip.order.name}} to accept...</h3>
	  
          <div class="loader"></div>
	</div>

	<div v-if="currentState=='cancelled'">
	  <h1 align="center">The order has been cancelled</h1>
	  <h3>Resuming search...</h3>
	</div>
      </div>

    <div id="overlay">
      
        <button v-show="currentState=='inactive'||currentState=='assigning'" v-on:click="toggleAvailable" class="taxi-button1">
            <h3>Mark as {{ currentState == 'assigning' ? 'Unavailable' : 'Available' }}</h3>
        </button>

        <button v-show="currentState=='pickup'" v-on:click="markAtCustomer" class="taxi-button1">
            <h3>Arrived at customer</h3>
        </button>

        <button v-show="currentState=='waiting'" v-on:click="markCustomerReady" class="taxi-button1">
            <h3>Customer is in</h3>
        </button>

        <button v-show="currentState=='driving'" v-on:click="markTripComplete" class="taxi-button1">
            <h3>Complete Trip</h3>
        </button>

	
        <div v-show="currentState=='pickup' || currentState=='waiting'" class="chat-box">
          <div class="open">Chat
            <div class="box">
              <br>
              <div>
		<p v-for="message in chatLog">
		  {{message.timeSent}} {{message.sender}}:
		  {{message.message}}</p>
		
		<form action="#" onsubmit="return false">
		  <input type="text" autocomplete="off" id="messageField">
		  <input type="submit" value="Send message" v-on:click="sendChatMessage"/>
		</form>
              </div>
              <br>
            </div>
          </div>
        </div>

	
	<div v-if="currentState=='rating'">
	  <p>How was your passenger?</p>
    <form class="rating">
      <label>
        <input @click="giveRating(1)" type="radio" name="stars" value="1" />
        <span class="icon">★</span>
      </label>
      <label>
        <input @click="giveRating(2)" type="radio" name="stars" value="2" />
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input @click="giveRating(3)" type="radio" name="stars" value="3" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>   
      </label>
      <label>
        <input @click="giveRating(4)" type="radio" name="stars" value="4" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input @click="giveRating(5)"type="radio" name="stars" value="5" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
    </form>
	</div>
    </div>
<!--
    <section id="driver-info">


      <div id="show-more">
          
        
      </div>

    </section>
    -->
    <!--<button v-on:click="markAtCustomer">Mark that you're at the customer</button>
    <button v-on:click="markCustomerReady">Mark that the customer is in and you have begun driving them</button>
    <button v-on:click="markTripComplete">Mark that the trip is complete</button>
    <button v-on:click="quit">Quit</button>-->
  </div>
</body>
</html>
