@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

h1, h2, h3 {
    font-family: "Roboto Slab", serif;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    color: #333;
}

#page {
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

section {
    padding: 1em;
}



/* ===========================================

Header

=========================================== */

header {
    padding: 0.5em 1em;
    margin: 0 1em;
    border-bottom: 4px dashed;
}

header h1, header h2 {
    padding: 0;
    margin: 0;
}

header h1 {
    font-size: 4em;
}

.header-bnt {
    
}

.header-taxi {
    color: #39f;
}

header h2 {
    font-size: 2em;
}



/* ===========================================

Assignment menu

=========================================== */

#assignment {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*
  Navigation menu
*/

nav ul {
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #39f;
}

nav li {
    min-width: 5em;
    padding: 1em 2em;
    margin: 0 0.2em 0 0;
    display: inline-block;
    background-color: #8cf;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

nav li:hover, nav li.selected {
    background-color: #39f;
}


/*
  List of orders/taxis/ongoing routes
*/

.assignment-list {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow: auto;
}

.assignment-list-item {
    display: flex;
    overflow: auto;
    border-bottom: 2px solid #39f;
    padding: 0;
    margin: 0.5em 0 0 0;
    list-style-type: none;
    cursor: pointer;
}

.assignment-list-item .timer {
    padding: 2em;
    color: #fff;
    background-color: #39f;
    text-align: center;
    width: 5em;
}

.assignment-list-item .description {
    padding: 1em;
    flex-grow: 1;
}

.assignment-list-item h2 {
    margin: 0 0 1em 0;
}

.assignment-list-item h3 {
    display: inline-block;
    width: 100%;
    margin: 0;
}

.assignment-list-item.selected .description, .assignment-list-item:hover .description {
    background-color: #39f;
    color: #fff;
}

.assignment-list .from {
    float: left;
}

.assignment-list .to {
    float: right;
}

.assignment-selection {
    padding: 0;
    margin: 0;
}

.assignment-selection > li {
    border-left: 4px solid #39f;
    background-color: #eee;
    cursor: pointer;
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 1em;
}

.assignment-selection > li h3 {
    margin: 0 0 0.5em 0;
}

.assignment-selection > li p {
    margin: 0.5em 0 0 0;
}

.assignment-selection > li:hover {
    background-color: #f8f8f8;
}



/* ===========================================

Map area

=========================================== */

#maps {
    grid-column: 2;
}

#my-map {
    height: 100%;
    width: 100%;
    margin: 0;
    box-shadow: none;
}
