html {
    font-family: 'Maven Pro', sans-serif;
	margin: 0;
	padding: 0;
}

#my-map {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup-list {
	padding-left: 0;
}

.orderButton {
    text-align: center;
    margin: auto;

    font-family: 'Maven Pro';
    font-size: 16px;
}